
@{
    ViewData["Title"] = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />  
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" asp-append-version="true" />

    <link type="text/css" rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link type="text/css" rel="stylesheet" href="~/css/dialog.css" asp-append-version="true">
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="container">
        <div class="page-body">
            <div class="nav flex-column">
            </div>
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/artdialog/dialog.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/global.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>