@{
    Layout = "_Layout";
}

@model LoginViewModel

@section styles{
    <link rel="stylesheet" href="~/css/sigin-out.css" />
}
<div class="modal fade" data-backdrop="static" id="loginModal" allow-modals="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">会议管理平台</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <input type="hidden" asp-for="ReturnUrl" />
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入登录账号" asp-for="UserName"
                               name="userName" id="userName" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" min="8" placeholder="请输入密码" asp-for="Password"
                               name="Password" id="Password" required />

                    </div>
                    <div class="form-group">
                        <span class="pull-right">
                            <a href="#" id="register" title="注册">注册</a>
                        </span>
                        @if (Model.AllowRememberLogin)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" asp-for="RememberLogin" name="remember"> 记住我
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        <button id="login" class="submit">登录</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript" src="~/js/login.js"></script>
}
